/* 初始化盒模型 */
html,
body,
div,
span,
view,
text {
  box-sizing: border-box;
}

/* bg-center */
.soumns-bg {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* flex-center  */
.soumns-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.soumns-btn {
  width: 200px;
  height: 50px;
  display: flex;
  // align-items: center;
  // justify-content: center;
  margin-top: 230px;
}
